html body {
	height: 100%;
    font-size: 18px;
	font-family: "Corsiva", Times, serif;
}



*{
	margin: 0;
	padding: 0;
	background-image: image("img/spbg.jpg");
}

big
{
	font-size: 20px;
	color: Purple;
	text-shadow: 2px 2px #F0A0A0;
}

.main {
	overflow:hidden;
	/* text */
	position: relative;
    text-align: center;
    color: white;
}

.bg{
	width: 100%;
}


.title{
	background-color: rgb(0,0,0); /* Fallback color */
  	background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  	color: white;
  	font-weight: bold;
  	border: 3px solid #f1f1f1;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	z-index: 2;
	width: 80%;
	padding: 20px;
	text-align: center;
}





.content{
	position: absolute;
	padding-right: 10%;
	padding-left: 10%;
	top: 50%;
	left: 50%;
  	transform: translate(-50%, -50%);
	width: 80%;
	height: 100%;

}




.titre{
	margin: 0px;
	padding: 0px;
	position: absolute;
	width: 80%;
}



.block{
	padding: 25px;
	position: absolute;
	margin-left: 0%;
	margin-top: 0%;
    border-radius: 25px;
	background-color: rgba(128,128,128,0.5);
  	transform: translate(0%, 5%);
	width: 80%;
}
